# Laravel specific
/vendor
/node_modules
/public/storage
/storage/*.key
.phpunit.result.cache
Homestead.json
Homestead.yaml

# IDE configurations
/.idea
/.vscode
/.fleet

# Log files
npm-debug.log*
yarn-error.log*

# System files
.DS_Store
Thumbs.db
